.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer{
  background-image: url('/src/assets/images/bricks.webp');
  background-color: white;
  min-width: 50%;
  max-width: 60%;
  min-height: 4vh;
  max-height: 10vh;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}


.copyright{
  background-color: black;
  margin-left: 29%;
  margin-top: 3.3%;
  margin-right: 0%;
  float: right;
  padding: 2.5px;
  color: #75c1fe;
}

.brandIconFooter {
  font-family: 'Playball', cursive;
  margin-left: .5%;
  float: left;
  font-size: x-large;
  color: white;
  background-color: #75c1fe;
  padding: 10px;
  border-radius: 95%;
}