.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
position: relative;
  
overflow: hidden;

}

.animatedBackground {
  position: absolute;
  z-index: -100;
  width: 30000%;
  height: 100%;
  background: url('/src/assets/images/clouds.jpg');
  background-repeat: repeat-x;
  background-position: 0;
  background-size: auto 100%;
  animation: clouds 10000s linear infinite 1ms;
  
}

@keyframes clouds {
    0%, 
    100% {
      transform: translate(0%);
    }
    100% {
      transform: translate(-50%);
    }

    /* from {
      left: -50%;
    }
    to {
      right: 50%;
    } */

  
}



@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50%{
    transform: rotate(20deg);
  }
  75%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes loadRight {
  0%, 
  100% {
    transform: translate(50%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes loadLeft {
  0%, 
  100% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes loadBar {
  0%, 
  100% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes loadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appMain {
  /* border: 3px solid purple; */
  border-radius: 25px;
  margin-top: 1%;
  min-height: fit-content;
  min-width: 75%;
  margin-left: 13%;
  margin-right: 13%;
  height: 90vh;
  background-color: rgba(250, 248, 248, 0.979);


}

.homeNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLinks {
    float: right;
    color: #75c1fe;
    font-family: 'Syncopate', sans-serif;
    margin-top: 1%;

}

.navbarMain {
  /* border: 3px solid blue; */
  border-radius: 25px;
  
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;

}

.brandIcon {
  font-family: 'Playball', cursive;
  margin-top: 1%;
  margin-left: 1%;
  float: left;
  font-size: xx-large;
  color: white;
  background-color: #75c1fe;
  padding: 10px;
  border-radius: 95%;
}


.footer{
  border: 3px solid black;
  background-image: url('/src/assets/images/bricks.webp');
  background-color: white;
  min-width: 50%;
  max-width: 60%;
  min-height: 1vh;
  max-height: 10vh;
  margin-top: .5%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-between;

}


.copyright{
  
   font-family: 'Press Start 2P', cursive;
  min-width: 25vw;
  max-height: 5vh;
  color: #e5fe75;
  font-size: small;
}

.brandIconFooter {
  font-family: 'Playball', cursive;
  margin-left: .5%;
  float: left;
  font-size: x-large;
  color: white;
  background-color: #75c1fe;
  padding: 10px;
  border-radius: 95%;
}

a {
  text-decoration: none;
}