body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #75c1fe;
  /* background-image: url('/src/assets/images/clouds.png'); */
  /* background-size: auto; */
  /* background-repeat: repeat; */
  background-position: 0 0;
  /* animation: clouds 5s linear infinite;  */
}

#clouds {
  border: 3px solid red;
  height: 100vh;


}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nintendo-font{
  font-family: 'Press Start 2P', cursive;
  color: #75c1fe;
}
