
  .email {
    list-style: none;
    height: 3vh;
  }

.brandIcon {
    font-family: 'Playball', cursive;
    margin-top: .8%;
    margin-left: .8%;
    float: left;
    font-size: xx-large;
    color: white;
    background-color: #75c1fe;
    padding: 10px;
    border-radius: 95%;
}



.contactIcon{
    height: 5vh;
}


.skillsBox{
    /* border: 3px solid red; */
    max-height: 80%;
    min-width: 10%;
    padding-right: 1%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsTitle{
    margin-top: 20%;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
    color: #75c1fe;
    /* border: 3px solid blue; */
    min-width: 20%;
    max-width: 100%;

}

.skills {
    display: flex;
    flex-direction: column;
}
.icon{
    height: 8vh;
    margin: 0;
    padding: 5px;
}

.smallIcon {
    height: 1.4vh;
}


.proFont {
    font-family: 'Syncopate', sans-serif;
    color: #75c1fe;
}


.aboutContainer {
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    padding: 5px;
    min-width: 40vw;
    min-height: 50vh;
    max-height: 85vh;
}


.about {
    /* border: 3px solid green; */
    /* min-width: 55%; */
    max-width: 56%;
    max-height: 100vh;
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.aboutTitle {
    /* border: 3px solid red; */
    font-family: 'Press Start 2P', cursive;
    font-size: 6.3vh;
    min-width: 15vw;
    color: #75c1fe;
}



.proLinks{
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
}

.photo {
    /* border: 3px solid yellow; */
    min-width: 35%;
    max-width: 85%;
    min-height: 40%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 6%;
    margin-right: 6%;
    margin-top: .5%;
    margin-bottom: .5%;
    min-width: 15vw;
    max-height: 80vh; */
}




.projects {
    /* border: 3px solid purple; */
}


li {
    display: inline-block;
    
}

li a{
    display: block;
    color: rgb(2, 1, 1);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
    
li a:hover{
    border-radius: 100%;
}
    

img {
    /* border: 3px solid brown; */
    max-width: 100%;
    min-height: 70%;
    max-height: 100%;
    border-radius: 10%;
    margin: 0;
}


.bioBox {
    max-width: 80%;
    min-height: 40%;
    max-height: 50%;
    margin-top: 5%;
    overflow: auto;
    background-color: #012456;
    color: white;
    /* border: 3px solid black; */
    font-family: 'Roboto Mono', monospace;    font-size: 1.2vh;
    display: flex;
    flex-direction: column;
}

.bioHeader {
    /* border: 3px solid green; */

    background-color: rgb(231, 229, 229);
    min-width: 80%;
    min-height: 12%;
    color: black;
    padding: 3.5px;
}
.powershell{
    float: left;
    font-family: 'Roboto Mono', monospace;
    color: black;
}


.bioTextBox {
    /* border: 3px solid red; */
    display: flex;
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    font-size: small;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */

}


.bioTitle {
    float: left;
    display: flex;
    min-width: 80%;
    /* border: 3px solid red; */
}

.bioText{
    float: left;
    display: flex;
}
